body {
    font-family: 'Alatsi', sans-serif;
    margin: 0;
    overflow: hidden;
    background: black;
  }
  
  .container {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }

  .title {
    font-size: 10vw;
    color: #fff;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }

  a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

  @-webkit-keyframes glow {
    from {
      text-shadow: 0 0 4px #fff, 0 0 5px #fff;
    }
    to {
      text-shadow: 0 0 5px #fff, 0 0 6px #fff;
    }
  }
  
  canvas {
    width: 100%;
  }